*{margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Navigation Bar */

.navbar {
    width: 100%;
    height: 50px;
    background-color: rgb(142, 144, 134);
    position: fixed;
}
.navbar-container {
    align-items: right;
    display: flex;
}
.title-container {
    text-align: left;
    flex: 6px;
}
.links-container {
    padding-top: 12px;

}

.links-container a{
    color: black;
}

.logo {
    font-size: 30px;
    padding-top: 7px;
    padding-left: 53px;
}

.links-list-item {
    margin-right: 30px;
    text-decoration: none;
    display: inline;
}

/* BODY */

.banner {
    width: 100%;
    height: max-content;
    margin-top: 50px;
  }
.img-container {
    margin: 0 1rem;
    position: relative;
}
#about {
    padding: 50px;
    background: #e4e4e4;
}
.about-container {
    display: flex;
}
.about-img {
    flex: 1;
    padding: 30px;
    animation: ease-in-out;
}
.about-img img {
    height: 400px;
    max-width: 100%;
    margin: auto;
    display: block;
    object-fit: cover;
    object-position: right;
    animation: ease-in-out;
}
.about-text {
    margin: auto;
    padding: 30px;
    flex: 1;
    animation: ease-in-out;
}

.watch-button{
    text-decoration: none;
}